{
  "presets": ["react-app"],
  "plugins": [
    ["@babel/plugin-transform-runtime"],
    ["babel-plugin-styled-components"],
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": "css"
      }
    ]
  ]
}
